<!DOCTYPE html>
<html>
    <head>
        <title>Student Registration</title>
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class = "container">
            <div  class = "row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9">
                    <h2>Student Registration Form</h2>
                    <form class = "form-inline">
                        <input type = "text" class= "form-control" name = "fname" placeholder = "Your first name"/>
                        &nbsp;&nbsp;<input type="text" class = "form-control" name = "lname" placeholder = "Your last name"/><br/><br>
                        <input type = "email" class = "form-control" name="email" placeholder = "Your  email" />
                    </form>
                    
                </div>
                
            </div>
        </div>
    </body>
</html>